

<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Weather Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body class="min-h-screen bg-cover bg-center flex items-center justify-center" 

    {% if 'snow' in weather_data.description or weather_data.temperature <= 0 %} style="background-image: url('{% static 'images/snow.gif' %}');" 
    
    {% elif 'storm' in weather_data.description %} 
    style="background-image: url('{% static 'images/thunder.gif' %}');" 
    
    {% elif 'rain' in weather_data.description %} 
    style="background-image: url('{% static 'images/Rainy.gif' %}');" 
    
    {% elif 'cloud' in weather_data.description %} 
    style="background-image: url('{% static 'images/cloudy.gif' %}');" 
    
    {% elif 'clear' in weather_data.description and weather_data.temperature >= 28 %}
    style="background-image: url('{% static 'images/sunny.gif' %}');"

    {% elif 'clear' in weather_data.description %}
    style="background-image: url('{% static 'images/sunnyCloudy.gif' %}');"

    {% else %}
    style="background-image: url('{% static 'images/cloudy.gif' %}');"

    {% endif %}
    >
    

    <div class="w-full max-w-5xl px-6 text-center">

        <!-- HERO SECTION -->

        <div class="flex flex-col items-center justify justify-center text-center mt-8 mb-16">

            <h1 class="text-5xl font-bold text-black drop-shadow-lg mb-4 mt-4">
                Weather Forecast
            </h1>


            <p class="text-blue-900/90 text-lg">
                Search weather around the world
            </p>


            <!-- SEARCH FORM -->

            <form method="post" class="flex flex-col md:flex-row items-center gap-4 w-full justify-center">

                {% csrf_token %}

                <div class="w-full md:w-[450px] elite-glass  rounded-full flex items-center px-3 py-2 gap-2 mt-4">

                    <input type="text" name="location" placeholder="Enter city / zip / postal code"
                        class="flex-1 bg-transparent outline-none text-lg px-2 py-1 rounded-full  placeholder:text-white">

                    <button type="submit" id="search-icon">

                        <i class="fa-solid fa-magnifying-glass text-white bg-blue-600 p-3 rounded-full"></i>

                    </button>

                </div>

            </form>

            {% if not weather_data %}

            <!-- WEATHER STATUS GRID -->
            <div class="grid grid-cols-2 md:grid-cols-6 gap-3 w-full max-w-5xl mt-14">

                <div class="elite-glass rounded-2xl p-3 flex flex-col items-center gap-4">
                    <img src="{% static 'images/sunnyIcon.png' %}" alt="Sunny"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Sunny</h3>
                </div>

                <div class="elite-glass rounded-2xl p-3 flex flex-col items-center gap-4">
                    <img src="{% static 'images/sunnyCloudyIcon.png' %}" alt="SunnyCloudy"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Partly Cloudy</h3>
                </div>

                <div class="elite-glass rounded-2xl p-4 flex flex-col items-center gap-4">
                    <img src="{% static 'images/cloudyIcon.png' %}" alt="Cloudy"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Cloudy</h3>
                </div>

                <div class="elite-glass rounded-2xl p-4 flex flex-col items-center gap-4">
                    <img src="{% static 'images/rainyIcon.png' %}" alt="Rainy"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Rainy</h3>
                </div>

                <div class="elite-glass rounded-2xl p-4 flex flex-col items-center gap-4">
                    <img src="{% static 'images/thunderIcon.png' %}" alt="Storm"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Storm</h3>
                </div>

                <div class="elite-glass rounded-2xl p-3 flex flex-col items-center gap-4">
                    <img src="{% static 'images/snowIcon.png' %}" alt="snow"
                        class="elite-glass w-28 h-28 rounded-full object-contain">
                    <h3 class="text-blue-900 font-semibold">Snowy</h3>
                </div>

            </div>


            <div>
                <p class="italic text-blue-900/80 text-lg mt-10  text-shadow">
                    "This Web App is Specifically designed to let you know <br>
                    what is happening in the sky at different locations. <br>
                    Enjoy your time here!"
                </p>
            </div>

            {% endif %}

        </div>

        {% if weather_data %}

        {% if weather_data.error %}

        <div class="inline-flex items-center gap-2 bg-red-100 elite-glass text-red-600 px-4 py-2 rounded">
            <i class="fa-solid fa-circle-exclamation text-xl"></i>
            {{ weather_data.error }}
        </div>
        {% else %}

        <!-- CURRENT WEATHER -->

        <div
            class="elite-glass rounded-3xl shadow-2xl flex flex-col gap-4 md:flex-row items-center justify-between m-12 px-6 py-3 p-8">

            <div class="flex flex-row gap-6">
                {% if 'rain' in weather_data.description %}

                <img src="{% static 'images/rainyIcon.png' %}" alt="Rainy"
                    class="elite-glass w-32 h-32  rounded-full object-contain">
                <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-blue-800"> {{weather_data.main}} </div>

                </div>
                {% elif 'storm' in weather_data.description %}

                <img src="{% static 'images/thunderIcon.png' %}" alt="Storm"
                    class="elite-glass w-32 h-32 rounded-full object-contain">
                <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-blue-800"> {{weather_data.main}}</div>

                </div>
                {% elif 'clear' in weather_data.description and weather_data.temperature >= 28 %}

                <img src="{% static 'images/sunnyIcon.png' %}" alt="Sunny"
                    class="elite-glass w-32 h-32 rounded-full object-contain">
                <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-blue-800">{{weather_data.main}}</div>

                </div>

                {% elif 'clouds' in weather_data.description and weather_data.temperature <= 0 %} 
                    
                    <img src="{% static 'images/snowIcon.png' %}" alt="snowy"
                    class="elite-glass w-32 h-32 rounded-full object-contain">
                    <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-white">{{weather_data.main}}</div>

                </div>

                {% elif 'clouds' in weather_data.description %}

                <img src="{% static 'images/cloudyIcon.png' %}" alt="Cloudy"
                    class="elite-glass w-32 h-32 rounded-full object-contain">
                <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-blue-800">{{weather_data.main}}</div>

                </div>

                {% elif 'clear' in weather_data.description %}

                <img src="{% static 'images/sunnyCloudyIcon.png' %}" alt="Partly Cloudy"
                    class="elite-glass  w-32 h-32 rounded-full object-contain">
                <div class="flex flex-col justify justify-left">
                    <div class="text-8xl text-black">
                        {{ weather_data.temperature|floatformat:0 }}°
                    </div>

                    <div class="text-lg italic text-blue-800"> {{weather_data.main}} </div>

                </div>




                {% elif weather_data.temperature <= 0 %} 
                <img src="{% static 'images/snowIcon.png' %}" alt="Snowy"
                    class="elite-glass  w-32 h-32 rounded-full object-contain">
                    <div class="flex flex-col justify justify-left">
                        <div class="text-8xl text-black">
                            {{ weather_data.temperature|floatformat:0 }}°
                        </div>

                        <div class="text-lg italic text-blue-800"> {{weather_data.main}} </div>

                    </div>

                    {% else %}
                    <img src="{% static 'images/sunnyCloudyIcon.png' %}" alt="Partly Cloudy"
                        class="elite-glass  w-32 h-32 rounded-full object-contain">
                    <div class="flex flex-col justify justify-left">
                        <div class="text-8xl text-black">
                            {{ weather_data.temperature|floatformat:0 }}°
                        </div>

                        <div class="text-lg italic text-blue-800"> {{weather_data.main}} </div>

                    </div>
                    {% endif %}


                    <!-- VERTICAL LINE -->
                    <div class="w-[1px] h-36 bg-black"></div>

                    <div class="flex flex-col gap-3">

                        <div class="flex items-center gap-4">

                            <h2 class="text-3xl font-bold text-white/90 text-shadow capitalize">
                                {{ weather_data.location }}
                            </h2>

                            <p class="text-xl text-sky-600 capitalize italic">
                                {{ weather_data.description }}
                            </p>

                        </div>

                        <div class="text-left">

                            <p class="text-lg text-white/90 text-shadow ">
                                Humidity : <span class="text-blue-900">{{ weather_data.humidity }}%</span>
                            </p>

                            <p class="text-lg text-white/90 text-shadow ">
                                Pressure : <span class="text-blue-900">{{ weather_data.pressure }} hPa</span>
                            </p>

                            <p class="text-lg text-white/90 text-shadow ">
                                Wind Speed : <span class="text-blue-900">{{ weather_data.wind_speed }} m/s</span>
                            </p>


                        </div>

                    </div>



            </div>

        </div>
        <!-- FORECAST -->

        <h2 class="italic text-4xl font-bold text-white text-shadow text-center mb-8">

            5-Day Forecast

        </h2>

        <div class="flex gap-6 overflow-hidden p-4">

            {% for forecast in forecast_data %}

            <div class="px-8 py-8 elite-glass rounded-3xl shadow-2xl items-center justify-between flex flex-col">
                <!-- Images -->
                <div>
                    {% if 'rain' in forecast.description %}

                    <img src="{% static 'images/rainyIcon.png' %}" alt="Rainy"
                        class="elite-glass w-24 h-24  rounded-full object-contain">

                    {% elif 'storm' in forecast.description %}

                    <img src="{% static 'images/thunderIcon.png' %}" alt="Storm"
                        class="elite-glass w-24 h-24  rounded-full object-contain">

                    {% elif 'clear' in forecast.description and forecast.temperature >= 28 %}

                    <img src="{% static 'images/sunnyIcon.png' %}" alt="Sunny"
                        class="elite-glass w-24 h-24  rounded-full object-contain">

                    {% elif 'clouds' in forecast.description and forecast.temperature <= 0 %} 
                    
                    <img src="{% static 'images/snowIcon.png' %}" alt="Snowy"
                        class="elite-glass  w-24 h-24  rounded-full object-contain">

                    {% elif 'clouds' in forecast.description %}

                    <img src="{% static 'images/cloudyIcon.png' %}" alt="Cloudy"
                        class="elite-glass w-24 h-24  rounded-full object-contain">


                    {% elif 'clear' in forecast.description %}

                    <img src="{% static 'images/sunnyCloudyIcon.png' %}" alt="Partly Cloudy"
                        class="elite-glass  w-24 h-24  rounded-full object-contain">


                    

                    {% else %}
                    
                    <img src="{% static 'images/sunnyCloudyIcon.png' %}" alt="Partly Cloudy"
                            class="elite-glass  w-24 h-24  rounded-full object-contain">

                    {% endif %}
                </div>

                <h3 class="text-xl font-semibold text-white/70 italic text-shadow mb-3">

                    {{ forecast.date }}

                </h3>

                <p class="text-3xl text-black font-bold">

                    {{ forecast.temperature|floatformat:0 }}°C

                </p>

                <p class="capitalize text-black/80 italic">

                    {{ forecast.description }}

                </p>

            </div>

            {% endfor %}

        </div>

        {% endif %}

        {% endif %}

    </div>

</body>

</html>